* {
outline: 1px solid #000000;
}
body {
    margin: 0 auto;
    margin-bottom: 50px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    padding: 0 40px;
    grid-template-areas: ". content content content content .";
    
}
.dark-header {
    position: relative;
    background-color: #005681;
    color: #ffffff;
    
}
.content {
    grid-area: content;
    max-width: 1000px; 
    width: 100%;
}
.brand-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 50px;
    margin-right: 10px;
}
.content h1 {
    font-size: 40px;
    font-family: "Gorditas", cursive;
    text-align: center;
}
.content p {
    text-align: center;
    font-size: 20px; 
}
.dark-header-divider {
    background-image: url(../images/dark-background.svg);
    height: 150px;
    margin-top: -6px;
    background-size: cover;
    z-index: 1;
    position: relative;
}
.light-header {
    display: grid;
    background-color: #00AAFF;
    padding-top: 550px;
    margin-top: -550px;
    z-index: 1;
}
.light-header-divider {
    background-image: url(../images/light-background.svg);
    height: 150px;
    margin-top: -6px;
    background-size: cover;
    background-position: bottom left;
 
}
.email-form {
    display: flex;
    font-size: 20px;
    padding: 5px;
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 10px;
}
.email-form input {
    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #050505;
    color: #00AAFF;
    padding: 9px;
    flex-grow: 1;
    outline: none;
    
}
.email-form input:focus, input:hover{
    background-color: #9bd2ed;
}
.email-form button {
    background-color: #000000;
    border-radius: 5px;
    border: 2px solid #fefcfc;
    color: #ffffff;
}
.grid-video {
    grid-template-areas: " video video video benefits benefits benefits";
    margin-top: 25px;
    align-items: center;
}
.grid-video video {
    grid-area: video;
    width: 100%;
    max-width: 500px;
}
.benefits-section {
    grid-area: benefits;
    justify-self: flex-start;
}
.benefits {
    display: flex;
    font-size: 48px;
    margin-bottom: 20px;
    align-items: center;
   
}
.benefits img {
    margin: 10px;
    height: 48px;
   
}
